html { font-family: 'Noto Serif', serif;}

body {
	padding:2rem;
	margin-block-start: 1rem;
}
p{
	color:black;
	font-size: 1rem;
}

h1 {
	color: darkslategrey;
	font-size: 7rem;
	 font-family: 'Dela Gothic One', sans-serif;
line-height: 8rem;
}

h2{
	color: darkslategray;
	font-family: 'Dela Gothic One',sans-serif;
	font-size: 2.5rem;
	line-height: 200%;
}

h3 {
	color:black;
	font-size: 1.5rem;
}

h4{
	color: darkslategray;
	font-size: 1rem;
}
h5{
  font-style: italic;
  font-size: 1rem;
  font-weight: 300;
}
