html { font-family: 'Noto Serif', serif;}

:root{
	--base-type:1rem;
	--base-font:'Noto Serif', serif;
	--brand-color: darkslategray;
	--spacing:1rem;
	padding: 2rem;
}

body {
	margin-block-start: 1rem;
	padding: 3rem;
}

#ABSTRACT {
  	background-color: #f9f9f9;
	padding: 2rem;
}

p{
	color:black;
	font-size: 1rem;
}

h1 {
	color: var(--brand-color);
	font-size: calc(6*var(--base-type));
	font-family: 'Dela Gothic One', sans-serif;
	 line-height: 120%;

}

h2{
	color: var(--brand-color);
	font-family: 'Dela Gothic One',sans-serif;
	font-size: 1.2rem;
}

h3 {
	color:black;
	font-size: 1rem;
}

h4{
	color: darkslategray;
	font-size: 1rem;
}

h5{
  font-style: italic;
  font-size: 1rem;
  font-weight: 300;
}

mark {
  background-color: whitesmoke;
  color: skyblue;
  font-style: italic;
}

b.author{
	color: var(--brand-color);
}

.bold-start {
  font-size: 4rem;
  font-family: 'Dela Gothic One', sans-serif;
  display:block;
  text-align: right;
}

strong.sentence {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--brand-color);
}
