html { font-family: 'Noto Serif', serif;}

:root{
	--base-type:1rem;
	--base-font:'Noto Serif', serif;
	--brand-color: darkslategray;
	--spacing:1rem;
	padding: 0 10rem 10rem 10rem;
	 --link-color: deeppink;
	 --link-visited-color: lawngreen;
	 line-height: 180%;
}

body {
	margin-block-start: 1rem;
	padding: 3rem;
}

#abstract {
  	background-color: #ebebeb;
	padding: 2rem 6rem 6rem;
}

small {
  font-size: 0.8rem;
  font-weight: 700;
}
p{
	color:black;
	font-family: 'Noto Serif',serif;
	font-size: 1rem;
}

h1 {
	color: var(--brand-color);
	font-size: calc(6*var(--base-type));
	font-family: 'Dela Gothic One', sans-serif;
	 line-height: 120%;

}

#conference {
	padding: 1rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	border-top: 2px solid var(--brand-color);
	border-bottom: 2px solid var(--brand-color);
}

h2{
	color: var(--brand-color);
	font-family: 'Dela Gothic One',sans-serif;
	font-size: calc(4*var(--base-type));
	line-height: 130%;
	text-align: right;
	margin: 2rem;
}

h3 {
	color:var(--brand-color);
	font-family: 'Dela Gothic One', sans-serif;
	font-size: var(--base-type);
}

h4{
	color: black;
	font-family: 'Noto Serif', serif;
	font-style: italic;
	font-size: 1rem;
}

h5{
  font-style: italic;
  font-size: 1rem;
  font-weight: 300;
}

#abstract-title {
	font-family: 'Noto Serif', serif;
	font-style: italic;
	font-size: calc(5*var(--base-type));
}

b.author{
	color: cadetblue;
	font-size: 1.1rem;
	font-weight: 700;
}

blockquote {
	padding: 3rem;
	font-weight: 700;
	text-align: center;
	color: var(--brand-color);
	font-size: calc(2*var(--base-type));
	line-height: 150%;
}

#about-author{
	border-top: 2px solid var(--brand-color);
	padding-top: 2rem;
}


em{
	font-style: italic;
}
strong{
	font-weight: 900;
}


.bold-start {
  font-size: calc(3*var(--base-type));
  font-family: 'Dela Gothic One', sans-serif;
}

strong.sentence {
  font-weight: 900;
  font-size: calc(2*var(--base-type));
  color: var(--brand-color);
}


a:link {
	color: var(--link-color);
}

a:visited {
	color: var(--link-visited-color);
}

#response-title{
	 font-family: 'Gravitas One', serif;
	 border-top: 2px solid var(--brand-color);
	 margin-top: 5rem;
	 margin-bottom: 3rem;
	 padding-top: 3rem;
}

#institution {
	font-style: italic;
	font-weight: 800;
	color: seagreen;
}

#key-words{
	font-style: italic;
	font-size: calc(1.2*var(--base-type));
	font-weight: 700;
	margin-bottom: 2rem;
}
#bibliography{
	line-height: 180%;
	list-style-type: decimal;
}
